.product-title{
    width:14vw;
    grid-area:title;
    font-size:20px;
}
.product-img{
    grid-area:img;
    height:15vh;
    width:8vw;
}
.product-price{
    grid-area:price;
    font-size: 16px;
}
.product-price{
    display:flex;
}
.product-description{
    font-size:14px;
}